<h1>{{ title }}</h1>
<div class="container ms-5">
  <div class="form-area">
    <form>
      <div class="form-group">
        <label>First Name</label>
        <input type="text" placeholder="First Name" class="form-control" />
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" placeholder="First Name" class="form-control" />
      </div>
      <div class="form-group">
        <label>Address</label>
        <textarea type="text" placeholder="First Name" class="form-control">
        </textarea>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
